fish_add_path $HOME/.local/bin

if status is-interactive
	### GPG configuration
	set -x GPG_TTY (tty)
	set -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
	gpgconf --launch gpg-agent

	if type -q hx
		set -x EDITOR hx
	end

	{{ if .remoteDockerHost }}
		set -x DOCKER_HOST {{ .remoteDockerHost }}
	{{ end }}
	
	### ASDF
	source ~/.asdf/asdf.fish
end

starship init fish | source

