if status is-interactive
	### GPG configuration
	set -x GPG_TTY (tty)
	set -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
	gpgconf --launch gpg-agent
	
	### ASDF
	source ~/.asdf/asdf.fish
end

starship init fish | source

